CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.idea
libft.a
a.out
github_test_*
test_*
.DS_Store
*.o
*.a
cmake-build-debug/
